<!DOCTYPE html>
<html>
<head>
    <title>Kanban</title>
</head>
<body>
    <div class="root">
        <div class="navbar has-background-dark">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <h1 class="app-name has-gradient-text" >Kanban</h1>
                </div>
            </div>
        </div>
        <div class="board">
            <div class="board-bar">
                <ng-container *ngIf="!isEditingBoardName; else editBoardName">
                    <span class="board-name">{{ board.name }}</span>
                  </ng-container>
                  <ng-template #editBoardName>
                    <input [(ngModel)]="board.name" (blur)="updateBoardName()" />
                  </ng-template>
                  <button (click)="toggleEditBoardName()">
                    {{ isEditingBoardName ? 'Speichern' : 'Bearbeiten' }}
                  </button>
            </div>

            <div class="board-wrapper">
                <div class="board-columns" cdkDropListGroup>
                    
                    <div class="board-column" *ngFor="let column of board.columns">                    
                        <div class="column-title">
                            {{column.name}} 
                         </div>

                         <div class="tasks-container"
                         cdkDropList
                        [cdkDropListData]="column.tasks"
                        (cdkDropListDropped)="drop($event)">
                            <div class="task" *ngFor="let task of column.tasks" cdkDrag>
                                <span *ngIf="!task.editing">{{task.title}}</span>
                                <input *ngIf="task.editing" [(ngModel)]="task.title" />
                                <button class="edit-task" (click)="toggleEdit(task)">Edit</button>

                                <button class="delete-task" (click)="deleteTask(column, task)">Delete</button>
                            </div>
                            <div class="add-task">
                                <input #newTaskTitle placeholder="New Task">
                                <button class="new-task" (click)="addTask(column, newTaskTitle.value)">New Task</button>
                            
                         </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>
                               
</div>

</body>
</html>
